<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시스템 변경 안내</title>
</head>
<body style="font-family: 'Arial', sans-serif; color: #333; margin: 0; padding: 0;">
<div style="max-width: 1000px; margin: 50px auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div style="background-color: rgba(5, 80, 125, 0.87); color: #fff; text-align: center; padding: 20px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <h1 style="margin: 0; font-size: 24px;">POFECT 시스템 내부 기준 변경 안내</h1>
    </div>
    <p style="margin-bottom: 30px; font-size: 18px; margin-top: 20px;">안녕하세요, POFECT의 관리자님.</p>
    <p style="margin-bottom: 30px; font-size: 18px;"><b>{standardType}(이)가 {type}되었음을 안내드립니다.</b></p>
    <p style="margin-bottom: 30px; font-size: 18px;">변경 사항에 대한 자세한 내용은 아래 링크를 확인해주시기 바랍니다.</p>
    <p align="center"><a href="{url}"
       style="background-color: rgba(5, 80, 125, 0.87); color: #fff; text-decoration: none; display: inline-block; padding: 12px 24px; border-radius: 5px; font-size: 16px; transition: background-color 0.3s;"
       onmouseover="this.style.backgroundColor='#053F63'"
       onmouseout="this.style.backgroundColor='rgba(5, 80, 125, 0.87)'">POFECT 시스템에서 확인하기</a></p>
    <p style="margin-bottom: 30px; font-size: 18px;">POFECT 운영진 드림.</p>
    <div style="background-color: white; padding: 20px; border: 1px solid #ccc; display: flex; align-items: center;">
        <img src="cid:poscodx-email-footer" alt="POFECT 로고"
             style="margin-right: 10px; width: 150px; height: 150px;">
        <div style="margin: 0; flex: 1;">
            <p style="font-size: 20px; margin: 0;"><b>공장결정시스템 관리팀</b> POFECT</p>
            <p style="margin: 0;"><b>Email.</b><a href="pofect2@gmail.com">pofect@gmail.com</a></p>
            <p style="margin: 0;">이 메일은 자동으로 발송되었습니다. 문의사항이 있을 경우 회신해주세요.</p>
            <p style="margin: 0;">© 2024 POFECT</p>
        </div>
        <img src="cid:poscodx-email-footer2" alt="POFECT 로고2"
             style="margin-right: 0; margin-left: auto; order: 1;">
    </div>
    <p style="font-size: 8pt; font-weight: bold;">본 메일은 지정된 수신자만을 위한 것이며 수신자외에는 공개, 복사, 배포하거나 다른 목적으로 활용할 수 없습니다. 만약 메일이
        잘못 전송된 경우에는 발신인에게 알려주시고 수신된 메일은 즉시 삭제하여 주시기 바랍니다. This e-mail and any attachments may contain confidential
        and/or privileged information. If you are not the intended recipient or have received this e-mail in error,
        please immediately notify the sender and destroy this e-mail and its attachments, if any, from your system. Any
        unauthorized copying, disclosure or distribution of the materials in this e-mail and its attachments is strictly
        forbidden.</p>
</div>
</body>
</html>
